* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
}

body {
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica", "Arial", sans-serif;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
  color: #ffffff;
}

.wrapper {
  background: #000000;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  background: #323133;
  height: 3.5rem;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
}

.button:hover {
  background: white;
  color: #000000;
  transition: 0.3s;
}

.equals {
  background: #323133;
  grid-column: 3/1;
}

.opt {
  background: #f79505;
}

.opt2 {
  background-color: #a09f9c;
}
